
@{
    ViewData["Title"] = "Incorrect";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Invlaid User Name and Password</h1>
            <a href="@Url.Action("Create","Logins")">back to Login</a>
        </div>
    </div>
</div>

