
@{
    ViewData["Title"] = "saAdmin";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Decorations</h1>
            <h2> <a href="@Url.Action("Index","Products")" class="btn btn-warning">Manage Products</a> </h2>
            <h2> <a href="@Url.Action("Index","Stocks")" class="btn btn-warning">Manage Stock</a> </h2>
            <h2> <a href="@Url.Action("Index","Contacts")" class="btn btn-warning">Manage Queries</a> </h2>

            <a href="@Url.Action("Index","Home")" class="btn btn-primary">Logout</a>

        </div>
    </div>
</div>


